html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
	background-color: #FFF;
	color: #5A4D4D;
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif;
	font-size: 1.2em;
	overflow:hidden;
}


a {
	text-decoration: none;
	color:inherit;
}

h4 {
	
	font-size: 1.2em;	
	font-weight: 600;
	text-transform:uppercase;	
    height: 34px;  
    width: 12%;  
    position: absolute;  
    line-height: 34px;  
	
}

.bold {
		font-weight: 600;
}


a:hover {
	opacity: 0.7;
	
}







nav {
    float: left;
    width: 12%;
	margin-right: 2em;  
	text-transform: uppercase; 
	display: flex;
	min-height: 20em;
}


nav ul {
	list-style-type: none;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	-webkit-transition:max-height 0.4s;	
	
}



#mainNav {
	margin: auto;
	position:fixed;
	z-index:1000;
}

#mainNav li {
	padding: 0.2em 0em 0.2em 0em;	
	font-weight: 600;
	
	
}


#subNav li {
	margin-left: 1.3em;	
	padding: 0.1em 0em 0.1em 0em;
	font-weight: normal;
}









.content {
	float: left;
    width: 80%;
    margin-right: 2em;
	
}


#content img {
	margin:2em;
}


footer {
	
	position: fixed;
	bottom: 0;
	background-color:#e8e8e8;
	height: 1.5em;
	width:100%;
	
	
}



.st-scroll{  
    width: 80%;  
    height: 100%;  
    position:relative;  
    left: calc(5% + 6em);
	  
    top:0px;  
    /*mobile speed up?*/  
    -webkit-transform: translate3D(0,0,0);  
    -ms-transform: translate3D(0,0,0);  
    -o-transform: translate3D(0,0,0);  
    transform: translate3D(0,0,0);  
    -webkit-backface-visibility: hidden;  
    -moz-backface-visibility: hidden;  
    -ms-backface-visibility: hidden;  
    backface-visibility: hidden;  
  
    /*animation*/  
    -webkit-transition: all 0.6s ease-in-out;  
    -o-transition: all 0.6s ease-in-out;  
    transition: all 0.6s ease-in-out;  
}  
.st-scroll section{  
    position: relative;  
    width: 100%;  
    height:100%;  
	overflow-x: hidden;
    overflow: auto;
}  

/**
.st-scroll section:nth-child(odd){  
    background-color: #fa96b5;  
}  
**/


#st-container-1:checked ~ .st-scroll{
	 
    -webkit-transform: translateY(0%);  
    -ms-transform: translateY(0%);  
    -o-transform: translateY(0%);  
    transform: translateY(0%);  
}  
#st-container-2:checked ~ .st-scroll{  
    -webkit-transform: translateY(-100%);  
    -ms-transform: translateY(-100%);  
    -o-transform: translateY(-100%);  
    transform: translateY(-100%);  
}  
#st-container-3:checked ~ .st-scroll{  
    -webkit-transform: translateY(-200%);  
    -ms-transform: translateY(-200%);  
    -o-transform: translateY(-200%);  
    transform: translateY(-200%);  
}  
#st-container-4:checked ~ .st-scroll{  
    -webkit-transform: translateY(-300%);  
    -ms-transform: translateY(-300%);  
    -o-transform: translateY(-300%);  
    transform: translateY(-300%);  
}  
#st-container-5:checked ~ .st-scroll{  
    -webkit-transform: translateY(-400%);  
    -ms-transform: translateY(-400%);  
    -o-transform: translateY(-400%);  
    transform: translateY(-400%);  
}  


#st-container-6:checked ~ .st-scroll{  
    -webkit-transform: translateY(-500%);  
    -ms-transform: translateY(-500%);  
    -o-transform: translateY(-500%);  
    transform: translateY(-500%);  
}  


#st-container-7:checked ~ .st-scroll{  
    -webkit-transform: translateY(-600%);  
    -ms-transform: translateY(-600%);  
    -o-transform: translateY(-600%);  
    transform: translateY(-600%);  
}  

#st-container-8:checked ~ .st-scroll{  
    -webkit-transform: translateY(-700%);  
    -ms-transform: translateY(-700%);  
    -o-transform: translateY(-700%);  
    transform: translateY(-700%);  
}  


.st-container{  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    left: 5%;  
    top: 0;  
}  







.st-container>a{
	z-index:100;
	font-size: #eee;
	background-color: #e23a6e;
	font-size: 16px;
	color:#fff;
	text-align: center;
	text-decoration:none;
}



.st-container>input, .st-container>a{  
    height: 34px;  
    width: 12%;  
    position: absolute;  
    bottom: 0px;  
    line-height: 34px;  
    background: none;
    border: none;
    font-size: 1.2em;	
	color: #5A4D4D;
	text-transform:uppercase;
	text-align: left;
	outline:none;
	
}  
.st-container input{  
    z-index:1000;  
    cursor: pointer;
	opacity: 0;  
}  








#st-container-1,#st-container-1 + a{    
	top: 9%;
	position:fixed;
}  


#st-container-sec-1{   
	top: calc(9% + 1.3em);
}  


#st-container-2,#st-container-2 + a{  
    left:1.3em;  
	top: calc(9% + 1.3 * 2em)
}  
#st-container-3,#st-container-3 + a{  
    left:1.3em;  
	top: calc(9% + 1.3 * 3em)
}  
#st-container-4,#st-container-4 + a{  
    left:1.3em;  
	top: calc(9% + 1.3 * 4em)
}  
#st-container-5,#st-container-5 + a{  
    left: 1.3em;  
	top: calc(9% + 1.3 * 5em);
}  
  

#st-container-6,#st-container-6 + a{  
	top: calc(9% + 1.3 * 6em);
	font-weight: 500;
}  

#st-container-7,#st-container-7 + a{   
	top: calc(9% + 1.3 * 7em);
}  


#st-container-8,#st-container-8 + a{    
	top: calc(9% + 1.3 * 8em);
	font-weight: 500;
}  
  

  
  
  

 

#st-pannel-1 {
	display: flex;
	width: 90%;
	height: 90%;
	padding-bottom: 10%;
}




#st-pannel-8 {
	display: flex;
	width: 80%;
	height: 100%;
	padding-bottom: 10%;
}



#st-pannel-1 img {
	margin: auto;
	
}



#st-container-1:checked ~ .st-scroll #st-pannel-1 h2,  
#st-container-2:checked ~ .st-scroll #st-pannel-2 h2,  
#st-container-3:checked ~ .st-scroll #st-pannel-3 h2,  
#st-container-4:checked ~ .st-scroll #st-pannel-4 h2,  
#st-container-5:checked ~ .st-scroll #st-pannel-5 h2,
#st-container-6:checked ~ .st-scroll #st-pannel-6 h2,
#st-container-7:checked ~ .st-scroll #st-pannel-7 h2,
#st-container-8:checked ~ .st-scroll #st-pannel-8 h2{  
    -webkit-animation: moveUp 0.6s ease-in 0.2s backwards;  
    -moz-animation: moveUp 0.6s ease-in 0.2s backwards;  
    -ms-animation: moveUp 0.6s ease-in 0.2s backwards;  
    -o-animation: moveUp 0.6s ease-in 0.2s backwards;  
    animation: moveUp 0.6s ease-in 0.2s backwards;  
}  
#st-container-1:checked ~ .st-scroll #st-pannel-1 p,  
#st-container-2:checked ~ .st-scroll #st-pannel-2 p,  
#st-container-3:checked ~ .st-scroll #st-pannel-3 p,  
#st-container-4:checked ~ .st-scroll #st-pannel-4 p,  
#st-container-5:checked ~ .st-scroll #st-pannel-5 p,
#st-container-6:checked ~ .st-scroll #st-pannel-6 p,
#st-container-7:checked ~ .st-scroll #st-pannel-7 p,
#st-container-8:checked ~ .st-scroll #st-pannel-8 p{  
    -webkit-animation: moveDown 0.6s ease-in 0.2s backwards;  
    -moz-animation: moveDown 0.6s ease-in 0.2s backwards;  
    -ms-animation: moveDown 0.6s ease-in 0.2s backwards;  
    -o-animation: moveDown 0.6s ease-in 0.2s backwards;  
    animation: moveDown 0.6s ease-in 0.2s backwards;  
}  



#intro {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	
	
}


#intro p {
	font-size: 0.9em;
	
}


#intro div:nth-child(2) {
	margin-top: 2em;
	
}


#intro span {
	margin-right: 2em;	
	
}

.col {
	-moz-column-width: 12em;
	-moz-columns: 12em;
	-webkit-columns: 12em;
	columns: 12em;
}
	

#st-pannel-7 img {
	margin: 1em;
	
	
}


#st-pannel-7 h2 {
	text-transform:uppercase;
	color: #819697;
	border-bottom: 1px #819697 solid;
	margin-left: 1em; 
	width: 90%;
	
	
}



/*moveUp*/  
@keyframes moveUp  
{  
    from {  
        transform:translateY(-40px);  
        opacity: 0;  
        }  
    to {  
        transform:translateY(0px);  
        opacity: 1;  
        }  
}  
  
@-moz-keyframes moveUp /* Firefox */  
{  
    from {  
        -moz-transform:translateY(-40px);  
        opacity: 0;  
        }  
    to {  
        -moz-transform:translateY(0px);  
        opacity: 1;  
        }  
}  
  
@-webkit-keyframes moveUp /* Safari 和 Chrome */  
{  
from {  
    -webkit-transform:translateY(-40px);  
    opacity: 0;  
    }  
to {  
    -webkit-transform:translateY(0px);  
    opacity: 1;  
    }  
}  
  
@-o-keyframes moveUp /* Opera */  
{  
    from {  
        -o-transform:translateY(-40px);  
        opacity: 0;  
        }  
    to {  
        -o-transform:translateY(0px);  
        opacity: 1;  
        }  
}  
@keyframes moveDown  
{  
    from {  
        transform:translateY(40px);  
        opacity: 0;  
        }  
    to {  
        transform:translateY(0px);  
        opacity: 1;  
        }  
}  
  
@-moz-keyframes moveDown /* Firefox */  
{  
    from {  
        -moz-transform:translateY(40px);  
        opacity: 0;  
        }  
    to {  
        -moz-transform:translateY(0px);  
        opacity: 1;  
        }  
}  
  
@-webkit-keyframes moveDown /* Safari and Chrome */  
{  
from {  
    -webkit-transform:translateY(40px);  
    opacity: 0;  
    }  
to {  
    -webkit-transform:translateY(0px);  
    opacity: 1;  
    }  
}  
  
@-o-keyframes moveDown /* Opera */  
{  
    from {  
        -o-transform:translateY(40px);  
        opacity: 0;  
        }  
    to {  
        -o-transform:translateY(0px);  
        opacity: 1;  
        }  
}  
  
@media screen and (max-width: 520px){  
    .st-container > a{  
        font-size: 12px;  
    }  
    .st-scroll h2{  
        font-size: 30px;  
        margin-top:-100px;  
    }  
    .st-scroll p{  
        width: 90%;  
        left:5%;  
        margin-top: 0px;  
  
    }  
    .st-scroll .st-desc{  
        height: 100px;  
        width: 100px;  
        margin-left: -50px;  
    }  
}  


